html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}
a:link, a:visited {
  background-color: gray;
  color: white;
  padding: 14px 25px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: gray;
}

.card{
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 6px 20px -8px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  width: 400px
}

.card:hover{
  .card__hide{
    cursor: pointer;
    opacity: 1;
  }
}

.card__hide{
  float: right;
  font-size: 12px;
  padding: 5px;
  opacity: 0;
}

.card h2{
  font-size: 14px;
  font-weight: 400;
}

.card p{
  font-size: 12px;
  color: #666
}

.card__read{
  font-size: 10px;
  color: lightblue;
  cursor: pointer;
}

.card__footer{
  display: flex;
}

.card__footer h5 span{
  font-size: 12px;
  color: #666;
  font-weight: 400;
}

.ticket-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket-list h3 span{
  font-weight: lighter;
  padding: 5px;
  background-color: #ccc;
  cursor: pointer;
}

.ticket-list h3{
  font-size: 10px;
}

.card__labels{
  float: right;
}

.card__label{
  font-size: 10px;
  margin-right: 5px;
  padding: 5px;
  background-color: rgb(155, 223, 255);
  border-radius: 5px;
  text-transform: capitalize;
}